# requirements.txt

# Django and Web Server
Django==5.2.6
gunicorn==23.0.0

# Django REST Framework
djangorestframework==3.16.1

# Database Connector for PostgreSQL
psycopg2-binary==2.9.10
dj-database-url==2.2.0

# CORS Headers for connecting Frontend to Backend
django-cors-headers==4.7.0

# Static File serving in production
whitenoise==6.7.0

# Reading the .env file for local development
python-dotenv==1.1.1

# Media Files (Cloudinary for your gallery)
cloudinary==1.41.0
django-cloudinary-storage==0.3.0

# Django Admin feature for importing/exporting data
django-import-export==4.3.9

Pillow==10.4.0